
@{
    ViewBag.Title = "cotizaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h3 style="text-align: center">Catalogos</h3>
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-lineas-tab" data-toggle="pill" href="#pills-lineas" role="tab" aria-controls="pills-lineas" aria-selected="false">Lineas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-maquinas-tab" data-toggle="pill" href="#pills-maquinas" role="tab" aria-controls="pills-maquinas" aria-selected="false">Maquinas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-personal-tab" data-toggle="pill" href="#pills-personal" role="tab" aria-controls="pills-personal" aria-selected="false">Personal</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-lineas" role="tabpanel" aria-labelledby="pills-lineas-tab">
                                <div class="tab-pane fade show active" id="pills-resumen" role="tabpanel" aria-labelledby="pills-resumen-tab">
                                    <button type="button" class="btn btn-primary" onclick="crearLinea()" data-dismiss="modal" style="width: 10rem; height: 2rem;" data-toggle="tooltip" data-placement="top" title="NuevoRegistro">Nuevo registro</button>
                                    <div class="col-lg-12 grid-margin stretch-card">
                                        <div class="card">
                                            <div class="card-body" style="margin-top: 0rem; padding: 0rem">

                                                <div class="table-responsive">
                                                    <table class="table table-hover" id="tablaLinea" style="width: 100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Acciones</th>
                                                                <th>Nombre</th>
                                                                <th>Descripción</th>
                                                                <th>Unidad de negocio</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-maquinas" role="tabpanel" aria-labelledby="pills-maquinas-tab">
                                <div class="tab-pane fade show active" id="pills-resumen" role="tabpanel" aria-labelledby="pills-resumen-tab">
                                    <button type="button" class="btn btn-primary" onclick="crearMaquina()" data-dismiss="modal" style="width: 10rem; height: 2rem;" data-toggle="tooltip" data-placement="top" title="NuevoRegistro">Nuevo registro</button>
                                    <div class="col-lg-12 grid-margin stretch-card">
                                        <div class="card">
                                            <div class="card-body" style="margin-top: 0rem; padding: 0rem">

                                                <div class="table-responsive">
                                                    <table class="table table-hover" id="tablaMaquinas" style="width: 100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Acciones</th>
                                                                <th>Nombre</th>
                                                                <th>Descripción</th>
                                                                <th>Linea</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-personal" role="tabpanel" aria-labelledby="pills-personal-tab">
                                <div class="tab-pane fade show active" id="pills-resumen" role="tabpanel" aria-labelledby="pills-resumen-tab">
                                    <button type="button" class="btn btn-primary" onclick="crearPersonal()" data-dismiss="modal" style="width: 10rem; height: 2rem;" data-toggle="tooltip" data-placement="top" title="NuevoRegistro">Nuevo registro</button>
                                    <div class="col-lg-12 grid-margin stretch-card">
                                        <div class="card">
                                            <div class="card-body" style="margin-top: 0rem; padding: 0rem">

                                                <div class="table-responsive">
                                                    <table class="table table-hover" id="tablaPersonal" style="width: 100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Acciones</th>
                                                                <th>Nombre</th>
                                                                <th>Planta</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--VISTA DE MODAL-->
<div class="modal fade" id="modalCrearLinea" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 50rem">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #bdbdbd" id="encabezadoCrearLinea">
                <h5 class="modal-title" id="tituloModalCotizacion">Crear Linea</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-group row">
                    <label for="correoTicketEdit" class="col-sm-4 col-form-label">Unidad de negocio:</label>
                    <div class="col-sm-8">
                        <select class="custom-select" id="idNegocioLinea">
                            <option value="0">Seleccione una opción</option>
                            <option value="1">BARRAS</option>
                            <option value="2">BARRAS NORTE</option>
                            <option value="3">CDIS SN. FCO.</option>
                            <option value="4">PAPAS</option>
                            <option value="5">SEMILLAS</option>
                            <option value="5">TULTEPARK</option>
                            <option value="5">UNTABLES</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="correoTicketEdit" class="col-sm-4 col-form-label">Nombre linea:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="nombreLinea">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="loteEdit" class="col-sm-4 col-form-label">Descripción::</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" id="descripcionLinea" rows="3"></textarea>
                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button type="button" id="btnGuardarLinea" onclick="guardarLinea()" class="btn btn-success">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCrearMaquina" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 50rem">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #bdbdbd" id="encabezadoCrearMaquina">
                <h5 class="modal-title" id="tituloModalCotizacion">Crear Maquina</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-group row">
                    <label for="correoTicketEdit" class="col-sm-4 col-form-label">Linea:</label>
                    <div class="col-sm-8">
                        <select class="custom-select" id="idLineaMaquina">
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="correoTicketEdit" class="col-sm-4 col-form-label">Nombre maquina:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="nombreMaquina">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="loteEdit" class="col-sm-4 col-form-label">Descripción::</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" id="descripcionMaquina" rows="3"></textarea>
                    </div>
                </div>
                <br />
                <div class="form-group row">
                    <label for="correoTicketEdit" class="col-sm-4 col-form-label">Frecuencia mantenimiento:</label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" id="frecuenciaMttoMaquina">
                    </div>
                    <div class="col-sm-4">
                        <select class="custom-select" id="idTiempoMttoMaquina">
                            <option value="0">Seleccione una opción</option>
                            <option value="1">Dias</option>
                            <option value="2">Semanas</option>
                            <option value="3">Meses</option>
                        </select>
                    </div>
                </div>

                <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button type="button" id="btnGuardarMaquina" onclick="guardarMaquina()" class="btn btn-success">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCrearPersonal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 50rem">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #bdbdbd" id="encabezadoCrearPersonal">
                <h5 class="modal-title" id="tituloModalCotizacion">Crear Personal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-group row" id="divKam">
                    <label for="correoTicketEdit" class="col-sm-4 col-form-label">Planta:</label>
                    <div class="col-sm-8">
                        <select class="custom-select" id="idPlantaPersonal">
                            <option value="0">Seleccione una opción</option>
                            <option value="1">UNTABLES</option>
                            <option value="2">BARRAS</option>
                            <option value="3">SEMILLAS</option>
                            <option value="4">CEDIS</option>
                            <option value="5">TULTEPARK</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="nombrePersonal" class="col-sm-4 col-form-label">Nombre:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="nombrePersonal">
                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button type="button" id="btnGuardarPersonal" onclick="guardarPersonal()" class="btn btn-success">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        jQuery.ajax(
            {
                url: '@Url.Action("validar_sesion", "Inicio")',
                type: "POST",
                dataType: "json",
                success: function(resultado)
                {
                    $('#overlay').css('display', 'none');
                    if (resultado == 1)
                    {
                        jQuery.ajax(
                            {
                                url: '@Url.Action("obtener_linas_maquinas", "mantenimiento")',
                                type: "POST",
                                success: function (resultado) {
                                    $('#idLineaMaquina').append(resultado);
                                },
                                error: function (xhr, status, error) {

                                },
                            });
                    }
                    else
                    {
                        alert('Sesion caducada');
                        window.location.reload(false);
                    }
                },
                error: function()
                {
                    $('#overlay').css('display', 'none');
                    swal("", "Sesión expirada!", "error")
                        .then((value) =>
                        {
                            window.location.reload(false);
                        });
                },
            });

        function crearLinea() {
            $("#modalCrearLinea").modal("show");
        }

        function crearMaquina() {
            $("#modalCrearMaquina").modal("show");
        }

        function crearPersonal() {
            $("#modalCrearPersonal").modal("show");
        }

        function guardarLinea() {
            var isCorrect = true;

            var currentDate = new Date();

            if ($("#nombreLinea").val() == "") {
                swal("", "Nombre de la linea no puede ser vacio", "warning");
                isCorrect = false;
            }

            if (($("#idNegocioLinea").val() == 0)) {
                swal("", "Debes indicar una unidad de negocio", "warning");
                isCorrect = false;
            }

            if ($("#descripciónLinea").val() == "") {
                swal("", "Debes indicar una descripción", "warning");
                isCorrect = false;
            }


            if (isCorrect) {

                var lineaData = {
                    nombreLinea: $("#nombreLinea").val(),
                    idNegocioLinea: $("#idNegocioLinea").val(),
                    descripcionLinea: $("#descripcionLinea").val()
                }

                $('#overlay').css('display', 'flex');
                jQuery.ajax(
                    {
                        url: '@Url.Action("guardar_linea", "mantenimiento")',
                        type: "POST",
                        data: JSON.stringify(
                            {
                                lineasMTTO: lineaData
                            }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (resultado) {
                            if (resultado == -1) {
                                swal("", "Datos incorrectos!", "error");
                            }
                            else {
                                swal("", "Linea insertada correctamente!", "success")
                                    .then((value) => {
                                        window.location.reload(false);
                                    });
                            }

                        },
                        error: function () {
                            swal("", "Error al insertar la linea!", "error")
                                .then((value) => {
                                    window.location.reload(false);
                                });
                        },
                    });
                $('#overlay').css('display', 'none');
            }
        }

        tablaLinea = $("#tablaLinea").DataTable({
            paging: true,
            ordering: false,
            info: true,
            lengthChange: false,
            pageLength: 25,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            },
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    title: 'Lineas',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                },
            ],

            "ajax": {
                url: '@Url.Action("obtener_lineas", "mantenimiento")',
                type: "GET",
                dataType: "json",
            },
            "columns": [
                { data: 'acciones'},
                { data: 'nombreLinea' },
                { data: 'descripcionLinea' },
                { data: 'idNegocioLinea' }
            ],
        });

        function guardarMaquina() {
            var isCorrect = true;

            var currentDate = new Date();

            if ($("#idLineaMaquina").val() == 0) {
                swal("", "La linea no puede ser vacio", "warning");
                isCorrect = false;
            }

            if ($("#nombreMaquina").val() == "") {
                swal("", "Nombre de la maquina no puede ser vacio", "warning");
                isCorrect = false;
            }

            if (($("#frecuenciaMttoMaquina").val() == 0)) {
                swal("", "Debes indicar una frecuencia de mantenimiento", "warning");
                isCorrect = false;
            }

            if ($("#descripcionMaquina").val() == "")
            {
                swal("", "Debes indicar una descripción", "warning");
                isCorrect = false;
            }

            if ($("#idTiempoMttoMaquina").val() == 0) {
                swal("", "Debes indicar una frecuencia de mantenimiento", "warning");
                isCorrect = false;
            }

            if (isCorrect) {

                var maquinasMtto = {
                    idLinea: $("#idLineaMaquina").val(),
                    nombreMaquina: $("#nombreMaquina").val(),
                    frecuenciaMttoMaquina: $("#frecuenciaMttoMaquina").val(),
                    descripcionMaquina: $("#descripcionMaquina").val(),
                    idTiempoMttoMaquina: $("#idTiempoMttoMaquina").val()
                }

                $('#overlay').css('display', 'flex');
                jQuery.ajax(
                    {
                        url: '@Url.Action("guardar_maquina", "mantenimiento")',
                        type: "POST",
                        data: JSON.stringify(
                            {
                                maquinaMTTO: maquinasMtto
                            }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (resultado) {
                            if (resultado == -1) {
                                swal("", "Datos incorrectos!", "error");
                            }
                            else {
                                swal("", "Maquina insertada correctamente!", "success")
                                    .then((value) => {
                                        window.location.reload(false);
                                    });
                            }

                        },
                        error: function () {
                            swal("", "Error al insertar la maquina!", "error")
                                .then((value) => {
                                    window.location.reload(false);
                                });
                        },
                    });
                $('#overlay').css('display', 'none');
            }
        }

        tablaMaquinas = $("#tablaMaquinas").DataTable({
            paging: true,
            ordering: false,
            info: true,
            lengthChange: false,
            pageLength: 25,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            },
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    title: 'Maquinas',
                    exportOptions: {
                        columns: [0, 1, 2]
                    }
                },
            ],

            "ajax": {
                url: '@Url.Action("obtener_maquinas", "mantenimiento")',
                type: "GET",
                dataType: "json",
            },
            "columns": [
                { data: 'acciones'},
                { data: 'nombreMaquina' },
                { data: 'descripcionMaquina' },
                { data: 'idLinea' }
            ],
        });

        function guardarPersonal() {
            var isCorrect = true;

            var currentDate = new Date();

            if ($("#idPlantaPersonal").val() == 0) {
                swal("", "Planta no puede ser vacio", "warning");
                isCorrect = false;
            }

            if (($("#nombrePersonal").val() == "")) {
                swal("", "Debes indicar un nombre", "warning");
                isCorrect = false;
            }

            if (isCorrect) {

                var personalMtto = {
                    idPlantaPersonal: $("#idPlantaPersonal").val(),
                    nombrePersonal: $("#nombrePersonal").val()
                }

                $('#overlay').css('display', 'flex');
                jQuery.ajax(
                    {
                        url: '@Url.Action("guardar_personal", "mantenimiento")',
                        type: "POST",
                        data: JSON.stringify(
                            {
                                personalMTTOS: personalMtto
                            }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (resultado) {
                            if (resultado == -1) {
                                swal("", "Datos incorrectos!", "error");
                            }
                            else {
                                swal("", "Personal insertada correctamente!", "success")
                                    .then((value) => {
                                        window.location.reload(false);
                                    });
                            }

                        },
                        error: function () {
                            swal("", "Error al insertar el personal!", "error")
                                .then((value) => {
                                    window.location.reload(false);
                                });
                        },
                    });
                $('#overlay').css('display', 'none');
            }
        }

        tablaPersonal = $("#tablaPersonal").DataTable({
            paging: true,
            ordering: false,
            info: true,
            lengthChange: false,
            pageLength: 25,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            },
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    title: 'Personal',
                    exportOptions: {
                        columns: [1, 2, 3]
                    }
                },
            ],

            "ajax": {
                url: '@Url.Action("obtener_personal", "mantenimiento")',
                type: "GET",
                dataType: "json",
            },
            "columns": [
                { data: 'acciones'},
                { data: 'nombrePersonal' },
                { data: 'idPlantaPersonal' }
            ],
        });

    </script>
}
